{% extends 'Easy_Shopify_app/homebase.html' %}
{% load static %}
{% block content %}
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<br><br><br><br>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 style="text-align:center;" class="panel-title">My Cart</h3>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Description</th>
          <th>Remove From Cart</th>

        </tr>
      </thead>
    </table>
  </div>
</div>