{% extends 'Easy_Shopify_app/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
</head>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Update Product Details</p>
        </div>
        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field productForm.name class="form-control" placeholder="Product Name" %}
              </div>
              <div class="form-group">
                {% render_field productForm.description class="form-control" placeholder="Description" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field productForm.price class="form-control" placeholder="Price" %}
              </div>
              <div class="form-group">
                {% render_field productForm.product_image class="form-control" placeholder="product_image" %}
              </div>

            </div>
      </div>
    </div>
  </form>
{% endblock content %}