<!DOCTYPE html>
<html>
    <body>
       <h1> This is the page for practice customer navigation var</h1>
    </body>

    <body>
        <div id="navbar">
            <div class="container">
                <div class="row row1">
                    <ul class="largenav pull-right">

                        <li>Orders</a></li>
                        <li>Profile</a></li>
                        <li>Logout</a></li>
                        <li class="upper-links dropdown"><a class="links" href="">More</a>
                            <ul class="dropdown-menu">
                            <li>Send Feedback</a></li>
                            <li>Contact Us</a></li>
                            <li>About Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body> 
</html>  