<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}

  {%if request.user.is_authenticated%}
    {% include "Easy_Shopify_app/customer_navbar.html" %}
  {%else%}
    {% include "Easy_Shopify_app/navbar.html" %}
  {%endif%}
<br><br><br>
<h3 style="color:blue;text-align:center;">Your Feedback Sent Succesfully !</h3>
<br>
<div style="text-align:center;">
    <img src="{% static 'Easy_Shopify_app/images/success.png' %}"  style="width:100px; height:100px; ">
</div>
<br><br><br><br><br><br><br><br>
  {% include "Easy_Shopify_app/footer.html" %}